@use "../../Styles/variables" as *;

.jeopardy-question {
  background-color: #0015a0;

  &__box {
    width: 200px;
    height: 120px;
    border: 3px solid #000;
    color: #efaa50;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $value-font, sans-serif;
    &.revealed-answer {
      opacity: 0.5;
      color: white;
    }
    &:hover {
      border: 1px solid white;
    }
  }

  &__popup-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1%;
    left: 2%;
    width: 95vw;
    height: 99vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    z-index: 1;
    color: white;
    font-family: "Fjalla One", sans-serif;
  }

  &__popup {
    text-align: center;
    width: 95%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__popup-black-cross {
    width: 18px;
    height: auto;
    align-self: flex-end;
  }

  &__popup-navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    border-radius: 20px;
  }

  &__popup-title {
  }

  &__popup-rules {
  }

  &__popup-question-area {
  }

  &__popup-question {
    font-size: 90px;
  }

  &__popup-answer {
    font-size: 90px;
  }

  &__popup-team-scores {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }
}
