.question-box {
  width: 250px;
  height: 150px;
  border: 1px white solid;
  margin: 10px;
  &:hover {
    border: black 1px solid;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(grey, 0.6);
  z-index: 1;
}

.popup {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &__black-cross {
    margin-top: 1rem;
    width: 1rem;
    align-self: flex-end;
  }
}

.popup-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
